{% load static tailwind_tags %}
<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Haynes Catalog</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="font-sans-serif text-slate-600 leading-normal tracking-normal">

		<nav class="bg-[url(/static/web/images/background.jpg)] bg-cover px-5">
			<div class="flex justify-between">

				<img src="{% static 'web/images/title-2.png' %}" class="my-2">

				<div class="mt-auto mb-4 text-lg divide-x-2 divide-solid divide-gray-100">
					<a href="#" class="px-5 text-gray-100 hover:text-white">Home</a>
					<a href="#" class="px-5 text-gray-100 hover:text-white">Search</a>
					<a href="#" class="px-5 text-gray-100 hover:text-white">Info</a>
					<a href="#" class="px-5 text-gray-100 hover:text-white">Login</a>
				</div>
			</div>
		</nav>


		<div class="mx-auto w-8/12">

			<section class="flex bg-slate-50 items-center pt-10 justify-center">
				<h1 class="text-5xl small-caps">Welcome to <span style="font-variant:small-caps">The Haynes Catalog</span></h1>
			</section>

			<section class="bg-slate-50 py-5 px-15">
				<p class="my-2 text-justify">
					This project, inspired by <a class="text-blue-900 font-bold" href="">Bruce Haynes</a>' famous book 'Music for Oboe', presents an interactive and continuously updated database containing music for and with oboe up to 1800.
					It offers many search functions which may be combined and allows an unambiguous identification of the pieces listed by including incipits (this work is still in progress).
					To utilise all these functions have a look at the <a class="text-blue-900 font-bold" href="">How to Use - Page</a>.
				</p>
			</section>

			<section class="bg-slate-200 py-5 px-30 -mx-15">
				<h1 class="font-semi-bold text-2xl">Quick Search</h1>
				<div class="grid grid-cols-6 gap-y-6 my-5">

					<div class="col-start-2 col-span-4">
						<label for="composer" class="block text-base font-medium text-slate-900">Composer</label>
						<div class="mt-2 grid grid-cols-1">
							<select id="composer" name="composer" autocomplete="composer-name" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6">
								<option>Bach, Johann Sebastian</option>
								<option>Mozart, Wolfgang Amadeus</option>
								<option>Brahms, Johannes</option>
							</select>
							<svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
								<path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
							</svg>
						</div>
					</div>

					<div class="col-start-2 col-span-4">
						<label for="category" class="block text-base font-medium text-gray-900">Category</label>
						<div class="mt-2 grid grid-cols-1">
							<select id="category" name="category" autocomplete="category-name" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6">
								<option class="font-bold">1.0 Music without Bass</option>
								<option>1.1 Solos without Bass</option>
								<option>1.2 Duets for 2 Oboes</option>
								<option class="font-bold">1.0 Music without Bass</option>
								<option>1.1 Solos without Bass</option>
								<option>1.2 Duets for 2 Oboes</option>
							</select>
							<svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
								<path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
							</svg>
						</div>
					</div>

					<div class="col-start-2 col-span-6">
						<button type="submit" class="rounded-md bg-slate-600 px-3 py-1 font-semibold text-white hover:bg-slate-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Search</button>
					</div>

				</div>
			</section>

			<section class="bg-slate-50 py-5 px-15">
				<p class="my-2 text-justify">
					Words cannot express how thankful I feel to Jens Kanschik for writing the software running this catalog.
					I am honored that, through my commitment to this project, a part of Bruce Haynes' work will live on.
				</p>
				<p class="my-2 text-justify">
					I wish you a successful catalog search and hope you enjoy finding and performing our oboe music!
					Peter Wuttke
				</p>
				<p class="my-2 text-justify">
					NEW !!! Folllow the news concerning the catalog on The Haynes Catalog on Facebook  Facebook
				</p>
			</section>

			<section class="bg-slate-200 py-5 px-15">
				<h2 class="text-2xl">Please note</h2>
				<p class="mt-5 text-justify">
					The quantity and quality of this database depend on your participation. You can help in many ways:
				</p>
				<ol class="mt-2 list-decimal list-inside">
					<li>
						If you know of any pieces not included in the catalog please send me an e-mail.
					</li>
					<li>
						If you find mistakes, or know more details about a certain piece, please write an addition in the Full Record.
					</li>
					<li>
						Please have a look at the List of Problems, and send me an e-mail.
					</li>
					<li>
						Please help me to collect the missing incipits.
					</li>
				</ol>
			</section>

		</div>
	</body>
</html>
