{% load static %}

<nav class="bg-[url(/static/web/images/background.jpg)] bg-cover px-5">
  <div class="flex justify-between">

    <img src="{% static 'web/images/title-2.png' %}" class="my-2">

    <div class="mt-auto mb-4 text-lg divide-x-2 divide-solid divide-gray-100">
      <a href="#" class="px-5 text-gray-100 hover:text-white">Home</a>
      <a href="#" class="px-5 text-gray-100 hover:text-white">Search</a>
      <a href="#" class="px-5 text-gray-100 hover:text-white">Info</a>
      <a href="#" class="px-5 text-gray-100 hover:text-white">Login</a>
    </div>
  </div>
</nav>
